@model AwesomeBlog.Models.Post

@{
    ViewBag.Title = "Advertisement";
}


      <header id="header">
    <div style="float:right; margin-top:-31px;">@Html.TextBox("date", DateTime.Now)</div>
  
        <a href="http://localhost:1288/">
    <img src="http://melissacanfield.com/wp-content/uploads/2014/03/home_icon_black_white_line_art_coloring_book_colouring-999px.png" border="0" align="center" height="80" width="80" />
</a>
<a href="http://localhost:1288/post/Create">
    <img src="http://files.campus.edublogs.org/blog.nus.edu.sg/dist/c/1/thumb/intro_crop.jpg"  align="center" height="80" width="80"  />
</a>
    <a href="http://localhost:1288/home/advertisement">
        <img src="http://www.ieblues.org/images/Advertise.gif" align="center" height="80" width="80" />
    </a>
    <a href="http://localhost:1288/home/videogames">
        <img src="http://www.theandroidscloset.com/wp-content/uploads/2014/03/2051752971_1385077490.jpg" align="center" height="80" width="80" />
    </a>
    <a href="http://localhost:1288/home/email">
        <img src="http://www.jillkonrath.com/Portals/110248/images/email.png" align="center" height="80" width="80" />
    </a>
    </header>
    <header id="notHeader">
    </header>

<br />
<br />
<br />


<a href="http://www.youtube.com">
    <img src="https://www.seoclerk.com/pics/132792-1ovEex1390006466.jpg" border="0" align="center" height="75" length="80" /></a>
  
        

     